<div class='bg-info container-fluid navbar' align="center">
  <form class='new-post-form'>
    <label for='destination'><big>Blog Title:</big></label>
    <br />
    <input class="text-border" type='text' id="destination" name="destination" />
    <br /> <br />
    <label for='blog'><big>Blog Content:</big></label>
    <br />
    <textarea class="text-border" id='blog' name='blog' rows='5' cols='30'></textarea>

    <br /> <br />
    <button class="btn btn-primary btn-lg" type='submit' value='Submit'>
      Submit
    </button>
  </form>
</div>
<!-- This is the form for adding a new blog-->
<script src='/assets/js/Blogs.js'></script>