
{{#each eachBlogData.comments as |eachComment|}}
  <section class="card bg-info" >
  <h5> Commented by: {{eachComment.user.username}}</h5>
  <h5> {{eachComment.comment_contents}}</h5>
  </section>
  {{/each}}
  
   
