  {{#each eachBlogData.comments as |eachComment|}}
  <section class="card">
  <h5> Comment placed by: {{eachComment.user_id}}</h5>
  <h5> {{eachComment.comment_contents}}</h5>
  </section>
  {{/each}}
   
